<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Rango</title>
		<link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- css -->
		<script src="{% static "js/jquery.js" %}"> </script> <!-- js -->
	</head>

	<body>
		{% if user.is_authenticated %}
		<h1>Rango says....hello {{ user.username }}</h1>
		{% else %}
		<h1>Rango says....hello world!</h1>
		{% endif %}
		{% if categories %}
			<ul>
				{% for category in categories %}
					<li><a href="/rango/category/{{category.slug}}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present</strong>
		{% endif %}
		<a href="/rango/about/">About</a><br />
		<a href="/rango/add_category/"> Add a New Category</a> <br />
		{% if user.is_authenticated %}
			<a href="/rango/restricted/">Restricted Page</a><br />
			<a href="/rango/logout/">Logout</a><br />
		{% else %}
		<a href="/rango/register/">Register here</a><br />
		<a href="/rango/login/">Login</a><br />
		{% endif %}
<!--		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /-->	<!-- Images -->
	</body>

</html>
